:root {

  /* Paleta de colores */
  --blanco: #ffffff;
  --negro: #333333;
  --primario: #f3ae5f;
  --secundario: #c09287;
  --rojo: #dc143c;
}




body {
  font-size: 17px;
  font-family: 'Lora', sans-serif;
  color: #333333;
  background-color: #ffc296;
  margin: 0;
  padding: 0;
}

header { /* selector de tipo*/ 
  background-color:#ecc7a6;
  display: flex;
  height: 120px; /* Cambia la altura del header */
  width: 100%; /* Hace que el header ocupe todo el ancho de la página */
  padding: 20px; /* Añade espacio interno dentro del header */
  box-sizing: border-box; /* Incluye el padding en el tamaño total del elemento */
  justify-content: space-between;
}

header li{
  list-style: none;
}

nav {
  width:60%;
}

header ul{
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  height: 100%;
  margin-right: 10px;
}

.titulosecundario h2 {
  text-align: center;
  font-weight: 90;
  font-size: 1.4rem;
}

.custom-bg-color {
  background-color: #37ee3d; /* Color de fondo personalizado */
  color: #f11212; /* Color de texto personalizado */
}

.gridGaleria {
  background-color:#dfbf95;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 2fr));
  grid-gap: 4em;
}

.gridmasvendido {
  background-color:#daad6b;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 2fr));
  grid-gap: 4em;
}
/* imagenes de regalos*/ 
.cuadroGaleriaTitulo {
  font-size: 1.5em;               /* Establece el tamaño de la fuente en 1.5 veces el tamaño de la fuente base del documento */
  font-weight: normal;              /* Hace que el texto sea negrita */
  text-align: center;             /* Alinea el texto en el centro horizontalmente */
  text-decoration: none;          /* Elimina cualquier decoración de texto (como subrayado) */
  z-index: 1;                     /* Define la posición en la pila de elementos. Un valor más alto lo coloca delante de otros elementos */
  position: absolute;             /* Posiciona el elemento de forma absoluta respecto a su contenedor posicionado */
  height: 100%;                   /* Establece la altura del elemento al 100% del contenedor padre */
  width: 100%;                    /* Establece el ancho del elemento al 100% del contenedor padre */
  top: 0;                         /* Coloca el elemento en la parte superior del contenedor padre */
  left: 0;                        /* Coloca el elemento en el borde izquierdo del contenedor padre */
  opacity: 0;                     /* Hace que el elemento sea completamente transparente */
  transition: opacity .5s;        /* Define una transición suave de 0.5 segundos para el cambio de opacidad */
  background: rgba(173, 124, 112, 0.4); /* Establece un fondo semitransparente con un color específico */
  color: var(--blanco);           /* Establece el color del texto utilizando una variable CSS llamada `--blanco` */
  display: flex;                  /* Utiliza un contenedor flexbox para el elemento */
  align-items: center;            /* Centra verticalmente el contenido del elemento flexbox */
  justify-content: center;        /* Centra horizontalmente el contenido del elemento flexbox */
}

.cuadroGaleria{
  position: sticky;
}

.cuadroGaleriaImagen {
  line-height: 1;
  overflow: hidden;
}

.cuadroGaleriaImagen img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.imgRegalos {
  width: 100%; 
  height: auto;
  border-radius: 15px
  
}

.cuadroGaleria:hover .cuadroGaleriaTitulo {
  opacity: 1;
}

.cuadroGaleria:hover .cuadroGaleriaImagen img {
  filter: blur(2px);
}

@media (hover: none) { 
  .cuadroGaleriaTitulo {
      opacity: 1;
  }

  .cuadroGaleriaImagen img {
      filter: blur(2px) brightness(150%) contrast(120%);
  }
}



/* TIPOGRAFIAS */
h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 1rem;
  color: #523a34;
}

a {
color: #7a4500;
}

 /*esto es un selector de clase la diferencia entre un selector de tipo y uno de clase es con el punto */
.header {
  background-color:#ff7700;
  display:flex;
  height: 120px; /* Cambia la altura del header */
  width: 100%; /* Hace que el header ocupe todo el ancho de la página */
  padding: 20px; /* Añade espacio interno dentro del header */
  box-sizing: border-box; /* Incluye el padding en el tamaño total del elemento */
  justify-content: space-between;
}


.navegacionvendido {
  background-color:#e28f69;
  height: 70%;
  width:98%;
  flex-direction:row;
  align-items: center; 
  padding: 20px;                /* Espacio interior de 20 píxeles. */
  border: 2px solid #333;       /* Borde de 2 píxeles, sólido, gris oscuro. */
  margin: 10px;                 /* Espacio exterior de 10 píxeles. */
  box-shadow: 1px 1px 5px rgba(177, 21, 21, 0.5); /* Sombra alrededor del elemento. */
  border-radius: 10px;          /* Esquinas redondeadas de 10 píxeles. */
  transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves. */
}

.navegacionvendido:hover {
  background-color: #e6c1a2;    /* Color de fondo diferente al pasar el cursor. */
  transform: scale(1.05);       /* Aumento del tamaño del elemento al pasar el cursor. */
}
.logo_img{
  height: 140%;
}

.lora-j {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* HEADER */
.no-points {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a:hover {
  color: #000000; 
}

.encabezado-decorado {
  font-size: 2.2em;
  font-weight: lighter;
  color: #333;
  text-align: center;
  margin: 20px 0;
  border-bottom: 2px solid #be8a1a;
  padding-bottom: 0.3px;
}


/* video presentacion tatami del index */
.producto-contenedor {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #ffd3aa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producto-descripcion {
  padding: 20px;
  box-sizing: border-box;
  width:30%;
}

.producto-video {
  flex: 1  10  50%;
  min-width: 10px;
  
}

.producto-descripcion {
  flex: 1 1 50%;
  min-width: 500px;
}

video {
  width: 100%;
  height: auto;
  margin:25px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(230, 162, 73);
}

h3 {
  font-size: 1em;
  margin-bottom: 10px;
  padding: 30px;
}

p {
  font-size: 1em;
  line-height: 1.5;
  color: #333;
  padding: 30px;
}
/* main contenido*/

.main-content {
    flex: 1 1 50%;
    min-width: 500px;
    width: 60%;
    margin: 0 auto;
    padding: 180px;
    text-align: center;
    background-color: #e4bca2;
}

.corner-image {
    flex: 1 1 50%;
    min-width: 100px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    
  }

/*solo para img llamada "explicacion"*/
.imagen-redimensionada-1 {
  width: 850px;
  height: 450px;
}

.imagen-redimensionada-2 {
  width: 1000px;
  height: 500px;
}

.imagen-redimensionada-3 {
  width: 50px;
  height: 58px;
}

.wave {
  margin-bottom: -2.8rem;
}

.main {
  background-color: #f3c38585;
}

.footer .redes{
  text-align: center;
}

.footer .redes a {
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}

.footer .texto {
  text-align: center;
}